<div class="row py-1">

    <div class="col-md-12">
      <div class="card mb-12 box-shadow">
        <div class="card-body">
          <p class="card-title">
            <%= comment.user.email %>
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted"></small>
          </div>
          <div class="card-img py-3">
            <%= comment.content %>
          </div>
        </div>
      </div>
    </div>

</div>