<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Image type:</strong>
  <%= @image.image_type %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
